* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

.icon-global {
    width: 24px;
    height: 24px;
}

.title {
    background-image: url('../assets/img/backgroud-title-home.png');
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.title .text-title {
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title h1 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2%;
    vertical-align: middle;
    text-transform: capitalize;
    width: 600px;
}

.title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #fff;
}



.main-container {
    background-color: #FAFAFA;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding: 5% 6%;
    gap: 32px;
    align-items: flex-start;
}

.content-exam-ruler {
    width: 80%;
}

.main-content aside {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.main-content .content-exam-ruler h2 {
    font-weight: 650;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #1D2939;
    margin-bottom: 16px;
}

.item-post {
    width: auto;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 16px;
    padding: 16px;
}

.list-post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    max-width: auto;
    padding: 0 16px;
}

.list-post li {
    height: auto;
    border-radius: 12px;
    gap: 16px;
    padding: 16px;
    background-color: #fff;
    margin-bottom: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.list-post li h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #111;
    cursor: pointer;
}

.list-post .item-post p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    max-width: 50%;
    font-size: 14px;
    color: #3d3d3d;
    cursor: pointer;
}


.list-post .time-minutes {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #676767;
    margin-top: 12px;
    cursor: pointer;
}

.list-post li:hover {
    box-shadow: 0px 4px 6px -2px #10182808;
    box-shadow: 0px 12px 16px -4px #10182814;
    position: relative;
    top: -2px;
}

.search-filter-exam {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 16px;
    justify-content: space-between;
}

.search-filter input {
    width: auto;
    max-width: 100%;
    border: 1px solid #D0D5DD;
    outline: none;
    width: 686px;
    height: 48px;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    gap: 8px;
    border-width: 1px;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.search-filter-exam button {
    width: 190px;
    height: 48px;
    border-radius: 8px;
    padding-top: 12px;
    padding-right: 28px;
    padding-bottom: 12px;
    padding-left: 28px;
    gap: 12px;
    border-width: 1px;
    background-color: #BC2228;
    border: 1px solid #BC2228;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
}

.search-filter-exam button:hover {
    background-color: #d12b30;
}

/* //////////////////////// */

.exam-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    padding: 24px;
}

.exam-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-family: sans-serif;
}

.exam-card h3 {
    color: #1d2939;
    font-size: 18px;
    margin-bottom: 16px;
}

.exam-card .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #344054;
    font-size: 14px;
}

.exam-card .info div i {
    color: #BC2228;
    margin-right: 6px;
}

.btn-do-exam {
    background-color: #fef3f2;
    color: #BC2228;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
}

.exam-card:hover {
    box-shadow: 0px 4px 6px -2px #10182808;
    box-shadow: 0px 12px 16px -4px #10182814;
    position: relative;
    top: -2px;
}

.exam-card:hover .btn-do-exam {
    background-color: #BC2228;
    color: #fff;
}

/* /////////////////// */
.tip-container {
    margin-bottom: 32px;
}

.tip-box {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    font-family: sans-serif;
    color: #1d2939;
    line-height: 1.6;
    width: 100%;
}

.tip-box h2 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
}

.tip-box h2 i {
    color: #f04438;
    margin-right: 8px;
}

.tip-box h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 8px;
}

.tip-box p {
    margin-bottom: 16px;
}

.tip-box ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.tip-box ul li {
    list-style-type: disc;
    margin-bottom: 6px;
}

/* //////////////// */
.rule-container {
    margin-bottom: 32px;
}

.rule-box {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    font-family: sans-serif;
    color: #1d2939;
    line-height: 1.6;
    width: 100%;
}

.rule-box h2 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
}

.rule-box h2 i {
    color: #f04438;
    margin-right: 8px;
}

.rule-box h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 8px;
}

.rule-box p {
    margin-bottom: 16px;
}

.rule-box ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.rule-box ul li {
    list-style-type: disc;
    margin-bottom: 6px;
}

/* ///////////// */
.pagination button {
    border: none;
    background: #f5f5f5;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.pagination button:hover {
    background: #ddd;
}

/* Nút đang được chọn */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
}

.pagination button,
.pagination .page-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

.pagination .page-button.active {
    background: #D12B30;
    color: #fff;
    border-color: #D12B30;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination span {
    margin: 0 5px;
}

.modal-article {
    display: none;
    flex-direction: column;
    max-width: auto;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
    max-width: 100%;
}

.nameArticle {
    margin-bottom: 5px;
    font-size: 20px;
}

.contentArticle {
    margin-bottom: 5px;
    padding-right: 5px;
    width: 100%;
    max-width: 110%;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.articleInformation {
    display: flex;
    flex-direction: row;
}

.authorArticle {
    margin-bottom: 7px;
    margin-right: 5%;
}

.postingDate {
    margin-bottom: 3px;
    margin-right: 5%;
}

.timeRead {
    margin-bottom: 3px;
    margin-right: 5%;
}

.exitModalArticle {
    margin-left: 85%;
    width: 10%;
    background-color: #BC2228;
    color: #FFFFFF;
    border: 5px solid #BC2228;
    border-radius: 5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .content-exam-ruler {
        width: 100%;
    }

    .list-post li p {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #3d3d3d;
        cursor: pointer;
    }

    .main-content {
        flex-direction: column;
    }

    .search-filter-exam {
        width: 100%;
    }

    .search-filter-exam input {
        width: auto;
        flex: 1;
    }

    .search-filter-exam button {
        width: 20%;
    }

    .search-filter-exam button span {
        display: none;
    }

    .main-content aside {
        width: 100%;
    }

    .main-content aside img {
        width: 100%;
    }

    .modal-article {
        max-width: 100%;
    }

    .exitModalArticle {
        width: 20%;
        margin-left: 75%;
    }

    /* ////////// */

}